<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>
<%= simple_form_for @run do |f| %>
  <%= render 'form', :f => f %>
<% end %> 
