<%= link_to 'new run', new_run_path, :class=>'btn' %>
<table class="table table-condensed table-striped">
  <tr>
    <th>Run Date</th>
    <th>Sample Date</th>
    <th>Name</th>
    <th>Comment</th>
    <th>Study</th>
    <th>Fluxes</th>
  </tr>
  <%= render @runs %>
</table>
<%= link_to 'new run', new_run_path, :class=>'btn' %>
