<h1>Runs</h1>
<table>
  <tr>
    <th>Run on</th>
    <th>Sampled on</th>
    <th>Name</th>
    <th>Comment</th>
    <th>State</th>
    <th>Study</th>
    <th>Fluxes</th>
  </tr>
  <%= render @runs %>
</table>
