<h3>Runs <%= @state %> </h3>
<table class="table table-condensed table-striped">
  <tr>
    <th>Run on</th>
    <th>Sampled on</th>
    <th>Name</th>
    <th>Comment</th>
    <th>Study</th>
    <th>Fluxes</th>
  </tr>
  <%= render @runs %>
</table>
<%= link_to 'new run', new_run_path %>
