<ul class="nav nav-tabs">
  <li><a href='#'>Standards</a></li>
  <li class="active"><a href='#'>Samples</a></li>
</ul>
<div id='container'></div>

<script>
  INITIAL_DATA = <%=raw @incubations.to_json(:methods=>['co2','n2o','ch4']) %>
  window.run_id = <%= @run.id %>
</script>

<script type='text/template' id='flux-list-template'>
  <h1>Model Fluxes</h1>
  <ul class='flux'></ul>
</script>

<script type='text/template' id='incubation-template'>
  <a href='/incubations/{{id}}/edit' class='treatment-label'>{{ treatment }}{{ replicate }} C:{{chamber}}</a>
</script>
