// Place all the styles related to the runs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.treatment-label {
  font-size: small;
}

.incubation-input {
  width: 5em;
}

ul {
  list-style-type:none;
}

.uploaded_file {
  display: block;
  float: right;
  width: 50%;
}

#title-block {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: silver;
  filter: alpha(opacity = 60); // For IE8 and earlier
  opacity: .6;
}

#spacer {
  height: 120px;
}

.recent_true {
  border-left: 1px solid #000;
}
